[submodule "blink1"]
	path = blink1
	url = https://git.sudo.is/ben/build-blink1
[submodule "playonlinux"]
	path = playonlinux
	url = https://git.sudo.is/ben/playonlinux-docker.git
[submodule "socat-dns"]
	path = socat-dns
	url = https://git.sudo.is/ben/socat-dns-docker
[submodule "socat-dns-docker"]
	path = socat-dns-docker
	url = https://git.sudo.is/ben/socat-dns-docker
[submodule "emacs-docker"]
	path = emacs-docker
	url = https://git.sudo.is/ben/emacs-docker.git
